In [24]:
# Import packages

import matplotlib.pyplot as plt
import numpy as np 
import pandas as pd
import seaborn as sns
import requests
import os
import re
from bs4 import BeautifulSoup
import time

import json
import tweepy
import webbrowser

In [242]:

callback_url = 'oob'
auth = tweepy.OAuthHandler(consumer_key, consumer_secret, callback_url)

try:
    redirect_url = auth.get_authorization_url()
except tweepy.TweepError:
    print('Error! Failed to get request token.')

webbrowser.open(redirect_url)
print(redirect_url)

user_pin_input = input('What is the pin value? ')
auth.get_access_token(user_pin_input)
api = tweepy.API(auth)

https://api.twitter.com/oauth/authorize?oauth_token=5iHNmQAAAAABSrFTAAABe05EvAk

In [365]:
# Function gathering the tweets from a specific user/handle

def extract_tweets(handle):

    # Input: Handle (e.g. @JeppeKofod) which is used to collect tweets
    #
    # Output: Dataframe containing tweets attaching information

    # tweets = api.user_timeline(screen_name=handle,count=200,exclude_replies=True,include_rts=False,tweet_mode="extended") 
    tweets = tweepy.Cursor(api.user_timeline,screen_name = handle, tweet_mode='extended', include_rts=False).items()
    tweets_data = []

    for tweet in tweets:
        date = tweet.created_at
        author = tweet.author.screen_name
        likes = tweet.favorite_count
        retweets = tweet.retweet_count
        source = tweet.source
        text = tweet.full_text

        tweets_data.append([date,author,text,likes,retweets,source])

    df_tweets = pd.DataFrame(tweets_data, columns=['Date','Author','Tweet','Likes','Retweets','Source'])
    return df_tweets

In [367]:
handles = ['@larsloekke']
df_Tweets = pd.DataFrame()

for handle in handles:
    a = extract_tweets(handle)
    df_Tweets = df_Tweets.append(a,ignore_index=True)

df_Tweets

,Date,Author,Tweet,Likes,Retweets,Source
0,2021-08-15 22:01:12,larsloekke,@FantaskMT @Anettelarner @PukDamsgaard Sludder...,6,0,Twitter Web App
1,2021-08-10 10:02:59,larsloekke,"@KarenVLoomersc2 Så det, straks jeg havde send...",10,0,Twitter Web App
2,2021-08-10 09:56:54,larsloekke,"... og der skulle have stået ""vigtigt"". Bare i...",69,4,Twitter Web App
3,2021-08-10 09:54:32,larsloekke,Vigtig indspark i debatten. Når vi år efter år...,95,7,Twitter Web App
4,2021-08-07 12:14:03,larsloekke,@ChristinaEgelun Tillykke.,4,1,Twitter Web App
...,...,...,...,...,...,...
2787,2017-01-27 13:20:22,larsloekke,@kristianleth @KnudBrixTV2 Så træk den fra. De...,0,0,Twitter for iPhone
2788,2017-01-27 13:13:54,larsloekke,"Interessant formulering fra @KnudBrixTV2: ""et ...",27,3,Twitter for iPhone
2789,2017-01-27 12:33:43,larsloekke,.@TheYellowPete Vi kan starte med at holde med...,31,5,Twitter for iPhone
2790,2017-01-26 13:45:24,larsloekke,".@BenjaminElberth Tak. Ja, det synes jeg fakti...",16,4,Twitter for iPhone
2791,2017-01-26 11:10:26,larsloekke,@tolauridsen Vi har en minister med det ansvar...,0,0,Twitter for iPhone

In [368]:
df_Tweets.describe()

              Likes     Retweets
count   2792.000000  2792.000000
mean     124.083095    15.444126
std      498.176857    93.344972
min        0.000000     0.000000
25%       10.000000     0.000000
50%       41.000000     3.000000
75%      114.250000    15.000000
max    20735.000000  4026.000000

In [366]:
# handles = ['@JeppeKofod','@larsclilleholt']
handles = ['@JeppeKofod']
df_Tweets = pd.DataFrame()

for handle in handles:
    a = extract_tweets(handle)
    df_Tweets = df_Tweets.append(a,ignore_index=True)

df_Tweets

,Date,Author,Tweet,Likes,Retweets,Source
0,2021-08-13 14:57:04,JeppeKofod,Danskere i Afghanistan bør forlade landet omgå...,67,13,Twitter for iPhone
1,2021-08-09 15:06:08,JeppeKofod,🤍❤️🤍 Today marks the 1-year anniversary of the...,284,34,Twitter for iPhone
2,2021-08-08 14:44:41,JeppeKofod,Denmark fully backs and joins the internationa...,27,8,Twitter for iPhone
3,2021-08-03 10:11:23,JeppeKofod,Deeply shocked by the horrific death of Belaru...,83,15,Twitter for iPhone
4,2021-07-29 07:55:21,JeppeKofod,🇫🇴Góða ólavsøku!\n \nJeg ønsker alle færinger ...,82,11,Twitter for iPhone
...,...,...,...,...,...,...
1287,2017-01-26 12:53:50,JeppeKofod,An important event on #PanamaPapers and money ...,7,9,Twitter for iPhone
1288,2017-01-26 09:29:01,JeppeKofod,Trumps angreb på vestlige værdier som retsstat...,2,0,Twitter for iPhone
1289,2017-01-26 06:59:36,JeppeKofod,Uhyggelige nyheder her til morgen Trump genind...,0,0,Twitter for iPhone
1290,2017-01-20 17:08:05,JeppeKofod,Obama er ikke mere præsident 😪Trump taler.. re...,16,2,Twitter for iPhone
1291,2017-01-20 07:32:42,JeppeKofod,🇺🇸🎉🇺🇸 Præsident Trump kan blive sidste hurra f...,1,1,Twitter for iPhone

In [363]:
df_Tweets.describe()

              Likes     Retweets
count    269.000000   269.000000
mean     105.182156    24.914498
std      652.652910    90.399343
min        1.000000     0.000000
25%       22.000000     4.000000
50%       38.000000     8.000000
75%       74.000000    14.000000
max    10655.000000  1038.000000

In [236]:
columns = set()
# allowed_types = [str, int]
tweets_data = []
my_timeline = user_timeline

for status in my_timeline:
    status_dict = dict(vars(status))
    keys = status_dict.keys()
    single_tweet_data = {'user': status.user.screen_name, 'author' : status.author.screen_name}
    for k in keys:
        # try:
        #     v_type = type(status_dict[k])
        # except:
        #     v_type = None
        # if v_type != None:
            # if v_type in allowed_types:
        single_tweet_data[k] = status_dict[k]
        columns.add(k)

    tweets_data.append(single_tweet_data)

header_cols = list(columns)
header_cols.append('User')
header_cols.append('Author')

In [87]:
status.author.screen_name

'Snapchat'

In [237]:
df = pd.DataFrame(tweets_data, columns=header_cols)
df

,lang,id_str,geo,quoted_status,user,created_at,author,possibly_sensitive,in_reply_to_status_id,text,...,favorited,place,in_reply_to_screen_name,in_reply_to_status_id_str,id,entities,_json,is_quote_status,User,Author
0,en,1426950162287677440,None,NaN,User(_api=<tweepy.api.API object at 0x7fe46897...,2021-08-15 16:53:24,User(_api=<tweepy.api.API object at 0x7fe46897...,NaN,NaN,RT @jensstoltenberg: Spoke with #UK PM @BorisJ...,...,False,None,None,None,1426950162287677440,"{'hashtags': [{'text': 'UK', 'indices': [32, 3...",{'created_at': 'Sun Aug 15 16:53:24 +0000 2021...,False,NaN,NaN
1,da,1426196109895127052,None,NaN,User(_api=<tweepy.api.API object at 0x7fe46897...,2021-08-13 14:57:04,User(_api=<tweepy.api.API object at 0x7fe46897...,NaN,NaN,Danskere i Afghanistan bør forlade landet omgå...,...,False,None,None,None,1426196109895127052,"{'hashtags': [], 'symbols': [], 'user_mentions...",{'created_at': 'Fri Aug 13 14:57:04 +0000 2021...,False,NaN,NaN
2,en,1424748837525204997,None,NaN,User(_api=<tweepy.api.API object at 0x7fe46897...,2021-08-09 15:06:08,User(_api=<tweepy.api.API object at 0x7fe46897...,NaN,NaN,🤍❤️🤍 Today marks the 1-year anniversary of the...,...,False,None,None,None,1424748837525204997,"{'hashtags': [{'text': 'Belarus', 'indices': [...",{'created_at': 'Mon Aug 09 15:06:08 +0000 2021...,False,NaN,NaN
3,en,1424381051955294208,None,Status(_api=<tweepy.api.API object at 0x7fe468...,User(_api=<tweepy.api.API object at 0x7fe46897...,2021-08-08 14:44:41,User(_api=<tweepy.api.API object at 0x7fe46897...,False,NaN,Denmark fully backs and joins the internationa...,...,False,None,None,None,1424381051955294208,"{'hashtags': [], 'symbols': [], 'user_mentions...",{'created_at': 'Sun Aug 08 14:44:41 +0000 2021...,True,NaN,NaN
4,en,1422500335105581056,None,NaN,User(_api=<tweepy.api.API object at 0x7fe46897...,2021-08-03 10:11:23,User(_api=<tweepy.api.API object at 0x7fe46897...,NaN,NaN,Deeply shocked by the horrific death of Belaru...,...,False,None,None,None,1422500335105581056,"{'hashtags': [{'text': 'Shishov', 'indices': [...",{'created_at': 'Tue Aug 03 10:11:23 +0000 2021...,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,da,1374631959905832966,None,NaN,User(_api=<tweepy.api.API object at 0x7fe46897...,2021-03-24 07:59:33,User(_api=<tweepy.api.API object at 0x7fe46897...,NaN,NaN,RT @rasmusgrue: Stolt og ydmyg: @DignityDK ska...,...,False,None,None,None,1374631959905832966,"{'hashtags': [], 'symbols': [], 'user_mentions...",{'created_at': 'Wed Mar 24 07:59:33 +0000 2021...,False,NaN,NaN
195,da,1374430481328996362,None,NaN,User(_api=<tweepy.api.API object at 0x7fe46897...,2021-03-23 18:38:57,User(_api=<tweepy.api.API object at 0x7fe46897...,NaN,NaN,Talt med @AndersFoghR. Udtrykt min solidaritet...,...,False,Place(_api=<tweepy.api.API object at 0x7fe4689...,None,None,1374430481328996362,"{'hashtags': [], 'symbols': [], 'user_mentions...",{'created_at': 'Tue Mar 23 18:38:57 +0000 2021...,False,NaN,NaN
196,en,1374386374845952006,None,NaN,User(_api=<tweepy.api.API object at 0x7fe46897...,2021-03-23 15:43:41,User(_api=<tweepy.api.API object at 0x7fe46897...,NaN,NaN,RT @MFAestonia: #China's sanctions on Danish 🇩...,...,False,None,None,None,1374386374845952006,"{'hashtags': [{'text': 'China', 'indices': [16...",{'created_at': 'Tue Mar 23 15:43:41 +0000 2021...,False,NaN,NaN
197,en,1374352053007486977,None,NaN,User(_api=<tweepy.api.API object at 0x7fe46897...,2021-03-23 13:27:18,User(_api=<tweepy.api.API object at 0x7fe46897...,False,NaN,Glad to follow up our good conversations on ph...,...,False,Place(_api=<tweepy.api.API object at 0x7fe4689...,None,None,1374352053007486977,"{'hashtags': [{'text': 'WeAreNATO', 'indices':...",{'created_at': 'Tue Mar 23 13:27:18 +0000 2021...,False,NaN,NaN
198,en,1374305978867400714,None,NaN,User(_api=<tweepy.api.API object at 0x7fe46897...,2021-03-23 10:24:13,User(_api=<tweepy.api.API object at 0x7fe46897...,False,NaN,NATO Foreign Ministers meeting today and tomor...,...,False,Place(_api=<tweepy.api.API object at 0x7fe4689...,None,None,1374305978867400714,"{'hashtags': [{'text': 'NATO2030', 'indices': ...",{'created_at': 'Tue Mar 23 10:24:13 +0000 2021...,False,NaN,NaN